# Xcode
.DS_Store
*.xcuserstate
xcuserdata/
DerivedData/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# Secrets
Bookly/Config/Secrets.xcconfig
Secrets.xcconfig
